<div class="about-section">
  <h1>About Us</h1>
  <p>Literally don't know what to write here</p>
  <p></p>
</div>
<div class="container">
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Pushkar</h2>
        <p class="title">CEO & Founder</p>
        <p></p>
        <p>pushkarjk@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Bill Gates</h2>
        <p class="title">COO & Co-Founder</p>
        <p></p>
        <p>bill@outlook.com</p>
      </div>
    </div>
  </div>
</div>
</div>
